html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.header
{
    width: 100%;
}
.header__bg
{
    position: absolute;
    z-index: -2;
    left: 0px;
    top: 0px;
    width: 100%;
}
.header__bg__text
{
    position: absolute;
    z-index: -1;
    left: 95px;
    top: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 16vw;
    line-height: 23vw;
    text-transform: capitalize;

    color: #6248C9;
}
.nav
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 33px 197px;
    padding-bottom: 67px;
    box-sizing: border-box;
}
.nav__point
{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 70px;
    text-decoration: none;
}
.smartphone
{
    position: absolute;
    top: 10vw;
    left: 12vw;
    width: 30.7vw;
    
}
.header__desc
{
    display: inline-block;
    margin-left: 45.6vw;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.header__desc__head
{
    margin: 0;
    font-weight: bold;
    font-size: 29px;
    line-height: 42px;
    text-transform: capitalize;
}
.header__desc__text
{
    display: inline-block;
    margin: 0;
    width: 27vw;
}
.header__form__wrapper
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.header__form__block
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin-top: 48px;
    background: rgb(255, 255, 255);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 22px;
    margin-right: 23px;
    padding: 24px 44px 52px 44px;
    box-sizing: border-box;
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    text-align: center;
    text-transform: capitalize;
    color: #6147C7;
}
.header__form__block__head
{
    width: 100%;
}
.header__form__block__submit
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 52px;
    background: linear-gradient(230.68deg, #9867FF 6.21%, #582CD3 75.95%);
    border-radius: 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 144.4%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: 0.2s all linear;
}
.header__form__block__submit:hover
{
    cursor: pointer;
    opacity: 0.6;
}
.header__form__text__g
{
    color: #249EA7;
}
.header__form__bg__g
{
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
}
.bg__2
{
    position: absolute;
    z-index: -2;
    left: 0px;
    top: 28vw;
    width: 100%;
}
.block__1
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-left: 191px;
    padding-right: 157px;
    box-sizing: border-box;
    margin-top: 12vw;
}
.block__1__text
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 58%;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #000000;
    padding-right: 104px;
    box-sizing: border-box;
}
.block__1__text__light
{
    font-weight: 400;
}
.block__1__img
{
    flex-basis: 42%;
}
.block__1__img__inner
{
    width: 100%;
}
.block__1__text__inner
{
    position: relative;
}
.block__1__author
{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.4%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    right: -43px;
    bottom: -7px;
}
.block__1__author__bold
{
    font-weight: 700;
}



.block__2
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    width: 100%;
    margin-top: 60px;
    padding-left: 192px;
    padding-right: 192px;
    box-sizing: border-box;
}
.block__2__1
{
    flex-basis: 65%;
}
.block__2__1__first
{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}
.block__2__1__first__circle
{
    position: absolute;
    z-index: -1;
}
.block__2__1__first__head
{
    margin-bottom: 26px;
    margin-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 20.2703px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #000000;
}
.block__2__1__first__main
{
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.block__2__1__first__main__p
{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #2797A0;
}
.block__2__1__first__main__text
{
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #000000;
}
.block__2__1__first__main__input
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 124px;
    height: 45px;
    margin-left: 23px;
    background: #EAEAEA;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.block__2__1__first__main__input__i
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin-left: 18px;
    flex-grow: 1;
    height: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 144.4%;
    /* identical to box height, or 29px */

    text-transform: capitalize;

    color: #000000;
}
.block__2__1__first__main__input__b
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 45px;
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    /* identical to box height, or 29px */

    text-transform: capitalize;

    color: #FFFFFF;
}
.block__2__1__second
{
    position: relative;
}
#polzunok
{
    margin-top: 92px;
}
.polzunok__window
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 73px;
    height: 35px;
    left: -30px;
    top: -50px;
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
    border-radius: 74px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 144.4%;
    /* or 20px */

    text-transform: capitalize;

    color: #FFFFFF;
}
.block__2__1__third
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 20px;
}
.block__2__1__third__1
{
    width: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #34B2BB;
}
.block__2__1__third__2
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #34B2BB;
}
.block__2__1__fourth
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 28px;
}
.block__2__1__fourth__1
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #249EA7;
}
.block__2__1__fourth__button
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100px;
    height: 45px;
    margin-left: 9px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
    border-radius: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #FFFFFF;
}
.block__2__1__fourth__2
{
    flex-grow: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #249EA7;

}
.block__2__2
{
    flex-basis: 35%;
    padding-left: 55px;
    box-sizing: border-box;
}
.block__2__2__button
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    margin-top: 35px;
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
    border-radius: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s all linear;
}
.block__2__2__button:hover
{
    cursor: pointer;
    opacity: 0.6;
}
.block__2__2__text
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 36px;
    
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 144.4%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}




.block__3
{
    display: inline-block;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    background-image: url(/images/background_3.svg); /* Путь к фоновому рисунку */
    background-position: center center; /* Положение фона */
    background-repeat: no-repeat;
    background-size: cover;
}
.block__3__head
{
    margin: 0;
    margin-top: 15vw;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 144.4%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block__3__wrapper
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}
.block__3__block
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 240px;
    max-height: 240px;
    width: 16vw;
    height: 16vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.42);
    border-radius: 22px;
}
.block__3__block__icon
{
    margin-top: 2.3vw;
    width: 3vw;
}
.block__3__block__head
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 144.4%;
    text-transform: uppercase;
    color: #000000;
}
.block__3__block__text
{
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 144.4%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
.block__3__button__wrapper
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 76px;
    margin-bottom: 65px;
}
.block__3__button
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 239px;
    height: 52px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
    border-radius: 52px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 144.4%;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s all linear;
}
.block__3__button:hover
{
    cursor: pointer;
    opacity: 0.6;
}
.footer
{
    width: 100%;
    box-sizing: border-box;
    padding: 62px 197px 30px 197px;
    background: #3F1F7D;
}
.footer__nav
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}
.footer__nav__block
{
    margin-left: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__nav__block__extra
{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 41px;
}
.footer__nav__block__extra__1, .footer__nav__block__extra__3
{
    flex-grow: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer__link
{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__nav__block__extra__2
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #9F81D8;
}

/* Слайдер */
.ui-slider .ui-slider-handle {
    border: 0;
    width: 24px;
    height: 24px;
    background: linear-gradient(230.68deg, #00D2B1 6.21%, #00B6C1 75.95%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 12px;
}
.ui-slider.ui-slider-horizontal {
    background: #CEF4F4;
    height: 6px;
    border:none;
}
.ui-slider .ui-slider-range {
    background: #CEF4F4;
    height: 6px;
}