html, body
{
    margin: 0;
    padding: 0;
    
}
#background
{
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400vh;
}
.background__letters
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    overflow: hidden;
}
.background__letters__second
{
    top: 300vh;
}
.background__letter
{
    position: absolute;
    height: 112vh;
    
}
.background__letter__c
{
    top: -6vh;
    left: -5vw;
    transition: all 2s ease;
}
.background__letter__d
{
    top: 15vh;
    left: 12vw;
    transition: all 2s ease;
}
.background__letter__m
{
    top: -6vh;
    left: 50vw;
    transition: all 2s ease;
}
#header
{
    z-index: 90;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    height: 105px;
    width: 100%;
    padding-left: 44px;
    padding-right: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header__nav__wrapper
{
    display: flex;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
.header__nav
{
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    margin-right: 20px;
    padding-left: 6px;
    padding-right: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header__nav:hover
{
    cursor: pointer;
    opacity: 0.7;
}
.header__lang
{
    display: flex;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    margin-left: 108px;
}
.header__nav__border
{
    position: absolute;
    top: 66px;
    width: 100%;
    height: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header__nav__border-inner
{
    position: relative;
    display: block;
    left: 0;
    width: 10px;
    height: 2px;
    background: #E36F1A;
}
.header__lang-click
{
    color: #E36F1A;
}
.header__lang__block:hover
{
    cursor: pointer;
    opacity: 0.7;
}
#socials__wrapper
{
    z-index: 90;
    position: fixed;
    height: 100vh;
    width: 18px;
    left: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials__block
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.socials__block:hover
{
    opacity: 0.7;
}
#name
{
    z-index: 90;
    position: fixed;
    left: 22px;
    bottom: 31px;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
#date
{
    z-index: 90;
    position: fixed;
    bottom: 19px;
    right: 44px;
    display: flex;
    align-items: center;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
#date__big
{
    margin-left: 8px;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}
.screen
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Muller;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    overflow: hidden;
}
.screen__second__wrapper
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.screen__second__left
{
    position: relative;
    right: 50%;
    flex-basis: 50%;
    height: 100%;
    max-width: 607px;
    
    padding-left: 64px;
    padding-right: 42px;
    box-sizing: border-box;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: justify;

color: #000000;
}
.screen__second__right
{
    position: relative;
    left: 50%;
    flex-basis: 50%;
    height: 100%;
    max-width: 677px;
    padding-right: 55px;
    padding-left: 42px;
    box-sizing: border-box;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: justify;
}

.screen__third__block
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 267px; 
}
.screen__third__wrapper
{
    width: auto;
    height: 50%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease;
}
.screen__third__wrapper:hover{
    cursor: pointer;
}
.screen__third__firstblock
{
    top: 40%;
    left: 0%;  
    
}
.screen__third__secondblock
{
    top: 10%;
    left: 15%;  
}
.screen__third__thirdblock
{
    top: 20%;
    left: 48%;  
}
.screen__third__fourthblock
{
    top: 70%;
    left: 40%;  
}
.screen__third__fl
{
    height: 100%;
}
.screen__third__block
{
    transition: all 2s ease;
}
.screen__third__block:hover
{
    cursor: pointer;
}
.screen__third__text
{
    display: none;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    transition: all 0.5s ease;
    flex-grow: 1;
}
.screen__third__date
{
    height: auto;
    font-family: Muller;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: justify;
    transition: all 0.5s ease;
}
.screen__third__date-1
{
    color: #114C82;
}
.screen__third__date-2
{
    color: #E36F1A;
}
.screen__fourth__wrapper
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.screen__fourth__left
{
    flex-basis: 50%;
    height: 100%;
    max-width: 490px;
    box-sizing: border-box;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
}
.screen__fourth__right
{
    flex-basis: 50%;
    height: 100%;
    max-width: 473px;
    padding-left: 173px;
    box-sizing: border-box;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: justify;
}

@media (max-width: 1200px) 
{ 
    .screen__third__block
    {
        height: 200px; 
    }
}
@media (max-width: 900px) 
{ 
    .screen__third__block
    {
        height: 160px; 
    }
    .header__nav
    {
        font-size: 18px;
        line-height: 18px;
        width: 100%;
        padding-left: 0;
    }
    .header__lang
    {
        display: flex;
        font-family: Muller;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        color: #000000;
        margin-top: 20px;
        margin-left: 0;
    }
    .header__nav__wrapper
    {
        flex-wrap: wrap;
    }
    .header__nav__border
    {
        display: none;
    }
    .screen__1
    {
        font-size: 20px;
    }
    .screen__second__wrapper
    {
        flex-wrap: wrap;
    }
    .screen__second__left, .screen__second__right
    {
        flex-basis: 100%;
        position: static;
        padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    text-align: justify;
    }
    .screen__second__right
    {
        margin-top: 30px;
    }
    .screen__3
    {
        flex-wrap: wrap;
    }
    .screen__third__block
    {
        position: static;
        display: flex;

        width: 100%;
        height: 10%; 
    }
    .screen__fourth__wrapper
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    
}
.screen__fourth__left
{
    flex-basis: 100%;
    height: 50%;
    
    
}
.screen__fourth__right
{
    flex-basis: 100%;
    height: 50%;
    padding-left: 0;
}
    #name
{
    z-index: 90;
    position: fixed;
    left: 22px;
    bottom: 31px;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}
#date
{
    z-index: 90;
    position: fixed;
    bottom: 19px;
    right: 44px;
    display: flex;
    align-items: center;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}
#date__big
{
    margin-left: 8px;
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
}
    
}