@font-face 
  	{
	font-family: 'Romul'; 
	src: url(fonts/romul.ttf); 
	}
  @font-face 
    {
  font-family: 'Futura'; 
  src: url(fonts/FuturaMedium.ttf); 
  }
  @font-face 
    {
  font-family: 'FuturaMedium'; 
  src: url(fonts/FuturaMediumС.ttf); 
  }
  @font-face 
    {
  font-family: 'FuturaBookC';
  src: url(fonts/Futurabookc.ttf); 
  }
  @font-face 
    {
  font-family: 'FuturaLightC';
  src: url(fonts/FuturaLightC.ttf); 
  }


html, body
{
	margin: 0;
  padding: 0;
}
/*Таблица стилей для header*/

#header
{
  display: flex;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
#header-logo
{
  position: absolute;
  left: 18px;
  top: 24px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 29.4197px;
  line-height: 35px;
  color: #65646C;
}
#header-logo-s
{
  position: absolute;
  left: 21px;
  top: 59.96px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.445em;
  color: #65646C;
}
#header-number-icon
{
  position: absolute;
  width: 15px;
  height: 15px;
  right: 320px;
  top: 25px;
}
#header-number
{
  position: absolute;
  width: 166px;
  height: 24px;
  right: 150px;
  top: 20px;
  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #65646C;
}
#header-number-call
{
  position: absolute;
  width: 114px;
  height: 19px;
  right: 217px;
  top: 44px;

  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  text-decoration-line: underline;
  color: #CEBF8B;
}
#header-address-icon
{
  position: absolute;
  width: 15px;
  height: 15px;
  right: 624px;
  top: 25px;
}
#header-address
{
  position: absolute;
  width: 237px;
  height: 22px;
  right: 378px;
  top: 20px;

  font-family: Prata;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #65646C;
}
#header-address-c
{
  position: absolute;
  width: 117px;
  height: 19px;
  right: 498px;
  top: 44px;

  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #CEBF8B;
}
#header-burger
{
  position: absolute;
  width: 30px;
  height: 14px;
  right: 18px;
  top: 25px;
}
.header-burger-1
{
  position: absolute;
  width: 30px;
  height: 3px;
  right: 0px;
  top: 0px;
  background: #65646C;
  transform: 0;
}
.header-burger-2
{
  display: flex;
  position: absolute;
  width: 20px;
  height: 3px;
  right: 10px;
  top: 7px;
  background: #65646C;
}
.header-burger-3
{
  position: absolute;
  width: 30px;
  height: 3px;
  right: 0px;
  top: 14px;
  background: #65646C;
}
#header-burger:hover
{
  cursor: pointer;
  opacity: 0.8;
}



@media (min-width: 1681px)
{
#header-social
{
  position: fixed;
  right: 1.51%;
  top: 89.35%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
}
@media (min-width: 1105px) and (max-width: 1680px)
{
#header-logo
{
  position: absolute;
  left: 18px;
  top: 16px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 29.4197px;
  line-height: 35px;
}
#header-logo-s
{
  position: absolute;
  left: 21px;
  top: 51.96px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 11.441px;
  line-height: 14px;
  letter-spacing: 0.445em;
}

#header-social
{
  position: fixed;
  right: 1.51%;
  top: 89.35%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
}
@media (min-width: 545px) and (max-width: 1104px)
{
#header-logo
{
  position: absolute;
  left: 18px;
  top: 16px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 29.4197px;
  line-height: 35px;
}
#header-logo-s
{
  position: absolute;
  left: 21px;
  top: 51.96px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 11.441px;
  line-height: 14px;
  letter-spacing: 0.445em;
}
#header-address
{
  display: none;
}
#header-address-c
{
  display: none;
}
#header-address-icon
{
  display: none;
}
#header-number-icon
{
  display: none;
}
#header-number
{
  display: none;
}
#header-number-call
{
  display: none;
}

#header-social
{
  position: fixed;
  right: 1.51%;
  top: 89.35%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
}


@media (max-width: 544px)
{
#header-logo
{
  position: absolute;
  left: 12px;
  top: 12px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 22.5497px;
  line-height: 27px;
}
#header-logo-s
{
  position: absolute;
  left: 14.3px;
  top: 39.56px;
  font-family: Romul;
  font-style: normal;
  font-weight: normal;
  font-size: 8.76931px;
  line-height: 11px;
  letter-spacing: 0.445em;
}
#header-address
{
  display: none;
}
#header-address-c
{
  display: none;
}
#header-address-icon
{
  display: none;
}
#header-number-icon
{
  display: none;
}
#header-number
{
  display: none;
}
#header-number-call
{
  display: none;
}
#header-social
{
display: none;
}
}

/*окончание стилей для header*/

#main
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  height: auto;
  padding-left: 168px;
  padding-right: 168px;

  background: url(img/background.png) 100% 100% no-repeat;
  background-size: cover; 

   padding-bottom: 150px;
   box-sizing: border-box;

}

#main-back
{
  font-family: Futura;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
margin-top: 50px;

text-align: right;

color: #FFFFFF;
text-decoration: none;
}
#main-content
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}
#main-content-l
{
  flex-basis: 50%;
}

.swiper-container {
      width: 400px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .gallery-top {
      height: 100%;
      width: 100%;
    }

    .gallery-thumbs {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
      position: relative;
      top: -22%;

    }

    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.7;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
.swiper-button-next
{
  top: 100%;
}


#main-content-r
{
  flex-basis: 50%;
  background: white;
  padding: 25px;
  box-sizing: border-box;
}
#main-content-r-head
{
  font-family: Romul;
font-style: normal;
font-weight: normal;
font-size: 30.95px;
line-height: 120%;
/* or 37px */


color: #65646C;
}
#main-content-r-info
{
  font-family: FuturaLightC;

font-weight: 0;
font-size: 19.9437px;
line-height: 150%;
margin-top: 20px;
border-bottom: 1px solid #65646C;
padding-bottom: 30px;
padding-left: 5px;
box-sizing: border-box;
/* or 30px */


color: #65646C;
}
#main-content-r-price-head
{
  font-family: FuturaLightC;
font-style: normal;
font-weight: 900;
font-size: 19.9437px;
line-height: 150%;
margin-top: 15px;
/* identical to box height, or 30px */


color: #65646C;
}
#main-content-r-price
{
  font-family: Romul;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 120%;
/* identical to box height, or 34px */


color: #6F6E75;
}
#main-content-r-order
{
  position: relative;
  top: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  float: right;
width: 189px;
height: 45.16px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
background: #CEBF8B;
color: #FFFEFE;
}
#main-content-bottom
{
  flex-basis: 100%;
  height: auto;
  margin-top: 20px;
  background: white;

}
#main-content-bottom-head
{
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #65646C;
  box-sizing: border-box;
}
.main-content-bottom-block
{
  display: flex;
  align-items: center;
  height: 60px;
  width: auto;
  box-sizing: border-box;
  margin-left: 26px;
  font-family: Futura;
font-style: normal;
font-weight: normal;
font-size: 18px;

border-top: 4px solid white;
color: #65646C;
}
.main-content-bottom-block:hover
{
  cursor: pointer;
}
.main-content-bottom-main
{
  display: none;
  width: 70%;
  font-family: Futura;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
padding: 26px;
padding-bottom: 40px;
box-sizing: border-box;
color: #92909D;
}
#main-content-bottom-head-mobile
{
  display: none;
  width: 100%;
  height: 60px;
  font-family: Futura;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
text-align: right;
border: 0;
border-bottom: ;
padding-left: 26px;
padding-right: 26px;
box-sizing: border-box;
color: #65646C;
border-bottom: 1px solid #65646C;
}

@media (min-width: 1681px)
{
  
}
@media (min-width: 1105px) and (max-width: 1680px)
{
#main-content-bottom-main
{
  width: 100%;
}
#main-content-r-order
{

width: 140px;
height: 40px;

}
#main-content-r-price
{

font-size: 24px;

}
}
@media (min-width: 681px) and (max-width: 1104px)
{
#main
{
  padding: 66px;
}
#main-content-r
{
  flex-basis: 100%;
  background: white;
  padding: 25px;
  box-sizing: border-box;
}
#main-content-l
{
  width: 100%;
  height: 400px;
  background: white;
  padding: 0px;
  box-sizing: border-box;
}
.swiper-container
{
  margin: 0;
}
.main-content-bottom-main
{
  width: 100%;
}
}


@media (max-width: 680px)
{
#main
{
  padding: 14px;
}
#main-content-r
{
  flex-basis: 100%;
  background: white;
  padding: 25px;
  box-sizing: border-box;
}
#main-content-l
{
  flex-basis: 100%;
  height: 175px;
  background: white;
  padding: 0px;
  box-sizing: border-box;
}
.main-content-bottom-main
{
  width: 100%;
}
#main-content-bottom-head-mobile
{
  display: flex;
}
#main-content-bottom-head
{
  display: none;
}
#header-social
{
display: none;
}
#main-content-r-order
{
  position: static;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
height: 45.16px;

font-family: Futura;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
background: #CEBF8B;
color: #FFFEFE;
}
}